/*body {
  background: url("http://hdwyn.com/wallpaper/puppy_face_protruding_tongue_black_and_white_hd-wallpaper-63971.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

.name {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-family: $baseFont";
  font-weight: bold;
  font-size: 6vw;
  letter-spacing: .075em;
  text-shadow: -2px 0px 2px #FFFFFF, -3px 0px 30px #0052A5, -2.5px 0px 70px #E0162B, -4px 1px 2px #FFFFFF, -6px 1px 30px #0052A5, -5px 1px 70px #E0162B, -6px 2px 2px #FFFFFF, -9px 2px 30px #0052A5, -7.5px 2px 70px #E0162B, -8px 3px 2px #FFFFFF, -12px 3px 30px #0052A5, -10px 3px 70px #E0162B, -10px 4px 2px #FFFFFF, -15px 4px 30px #0052A5, -12.5px 4px 70px #E0162B, -12px 5px 2px #FFFFFF, -18px 5px 30px #0052A5, -15px 5px 70px #E0162B, -14px 6px 2px #FFFFFF, -21px 6px 30px #0052A5, -17.5px 6px 70px #E0162B, -16px 7px 2px #FFFFFF, -24px 7px 30px #0052A5, -20px 7px 70px #E0162B, -18px 8px 2px #FFFFFF, -27px 8px 30px #0052A5, -22.5px 8px 70px #E0162B, -20px 9px 2px #FFFFFF, -30px 9px 30px #0052A5, -25px 9px 70px #E0162B, -22px 10px 2px #FFFFFF, -33px 10px 30px #0052A5, -27.5px 10px 70px #E0162B;
  line-spacing: 20%;
  background: white;
  padding: 0vw 3vw 4vw 3vw;
}

.carrot {
  font-family: $selectFont;
  text-transform: lowercase;
  color: #696969;
  text-shadow: none;
}

.not {
  margin: 7% 0 0 20%;
  font-size: 4.8vw;
  font-family: $selectFont;
  color: #696969;
  text-shadow: none;
  line-height: 30%;
  font-weight:bold;
  background:white;
  padding: 4vw 0 0 0vw;
}


.header-cont {
    width:100%;
    position:fixed;
    top:0px;
}
.header {
    height:50px;
    background:#F0F0F0;
    border:1px solid #CCC;
    width:960px;
    margin:0px auto;
