

<div class="about">

<div class="war">WE ARE A COUNTRY AT <span class="font-effect-fire-animation war2">WAR!</span><br></div>

<div class="about-text"><p>No, no... not with the refugees. No, not with the <span class="boldfire font-effect-fire">immigrants</span> either. Not even with the homosexuals... No, we're at war with <span class="boldfire font-effect-fire">fear</span>-mongering, hyperbole, and a <span class="bold">waning</span> interest in factual integrity. Who would have thought, in an era where the sum of human knowledge and understanding can be <span class="boldfire font-effect-fire">summoned</span> with a couple taps of the finger – thanks Mr. <span class="bold">Jobs!</span> – politicians, reporters, your drunk uncle and the like could get by professing completely unsubstantiated nonsense, with <span class="boldfire font-effect-fire">no </span>real purpose but to <span class="boldfire font-effect-fire">anger</span> and distract?</p>

<p>Our <span class="bold">fight</span> is not easy, but I believe, with just a little reason and adherence to <span class="bold">truth</span>, we can begin to adjust the rhetoric and clear away the bullshit.</p>

<p>Thanks for reading, and remember: the world isn't <span class="bold">ending</span>. It's not the end of days.</p>

<p><span class="disclaimer">It's Not the End of Days is a <span class="font-effect-neon">non-partisan</span> blog. The rhetoric described is bad for liberals, conservatives, and people alike, distracting all parties from more substantive conversations. A wise man once said, "the only thing we have to fear is fear itself," although it seems the past 83 years since his famous address have taught us little. Please submit feedback or articles to <span class="email"><a href="mailto://intednews@gmail.com">intednews@gmail.com</a></span>.</span>
</div>

</body>
