<link href='https://fonts.googleapis.com/css?family=Black+Ops+One|Luckiest+Guy|Sonsie+One|Shojumaru&effect=3d|3d-float|anaglyph|brick-sign|canvas-print|
            crackle|decaying|destruction|distressed|distressed-wood|emboss|fire|fire-animation|fragile|grass|ice|mitosis|neon|outline|putting-green|
            scuffed-steel|shadow-multiple|splintered|static|stonewash|vintage|wallpaper'
            rel='stylesheet' type='text/css'>

<div class="about">

<div class="war">WE ARE A COUNTRY AT <span class="font-effect-fire war2">WAR!</span><br></div>

<div class="about-text"><p>No, no... not with the refugees. No, not with the <span class="bold">immigrants</span> either. Not even with the homosexuals... No, we're at war with <span class="bold font-effect-fire">fear</span>-mongering, hyperbole, and a <span class="bold">waning</span> interest in factual integrity. Who would have thought, in an era when the sum of human knowledge and understanding can be accessed with a couple taps of a finger––thanks Mr. <span class="bold font-effect-fire">Jobs</span>!––politicians, professionals, reporters and the like could get by professing completely unsubstantiated nonsense, with no real purpose other than to <span class="bold">anger</span> and distract?</p>

<p>Our <span class="bold">fight</span> is not easy, but I believe, with just a little reason and adherence to <span class="bold">truth</span>, we can begin to adjust the rhetoric and dispel the bullsh*t.</p>

<p>Thanks for reading, and remember: the world isn't <span class="bold font-effect-fire">ending</span>. It's not the end of days.</p>

</div>

</body>
