

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>It's Not the End of Days</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
  <div class="homepage">
    <div class="not">not</div>
    <div class="name">it's<span class="carrot">^</span> the end of days</div></div>
  </div>

<div class="heads">
  <img src="http://i.imgur.com/Jhec3xw.png" alt="latest">
  <img src="http://i.imgur.com/ihDXEqz.png" alt="news">
  <img src="http://i.imgur.com/vAYWjOl.png" alt="about">
  <span class="home-links"><%= link_to 'latest', controller: 'articles' %></span><span class="home-links">news</span><span class="home-links">about</span>
</div>






  </body>



</html>
