<div class="row">
<div class="col-12">
  <div class="policy-page"><img src="http://i.imgur.com/3dmLmKY.jpg"></div>
</div>
<div class="col-11">
<div class="coming-soon">COMING SOON.*</div><br>
<div class="what">*an interactive site focused on policy challenges, including incarceration, gun violence, and the opioid epidemic.</div><br>

</div>

</div>
