<div class="ratings">
  <div class="col-2"></div>
  <div class="about-heads">
    <a href="/pictures/7"><img src="http://i.imgur.com/EmpX2a0.png"></a>
    <a href="/pictures/8"><img src="http://i.imgur.com/iJ6pRJR.png"></a>
    <a href="/pictures/9"><img src="http://i.imgur.com/p2FSYaq.png"></a>
    <a href="/pictures/10"><img src="http://i.imgur.com/Rbv2u4R.png"></a>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-5 ratings-text"><a href="/pictures/7">mongering</a></div>
    <div class="col-5 ratings-text"><a href="/pictures/8">hyperbolic</a></div>
    <div class="col-5 ratings-text"><a href="/pictures/9">dishonest</a></div>
    <div class="col-5 ratings-text"><a href="/pictures/10">laughable</a></div>
  </div>
  <div class="ratings-borat">
    <div class="ratings-text"><a href="/pictures/13"><img src="http://i.imgur.com/vEwNrHr.png"></a></div>
    <div class="ratings-text"><a href="/pictures/13">very nice!</a></div>
  </div>
