<div class="ratings">
  <div class="col-2"></div>
  <div class="row about-heads">
    <div class="col-4"><a href="/pictures/7"><img src="http://i.imgur.com/EmpX2a0.png"></a></div>
    <div class="col-4"><a href="/pictures/8"><img src="http://i.imgur.com/iJ6pRJR.png"></a></div>
    <div class="col-4"><a href="/pictures/9"><img src="http://i.imgur.com/p2FSYaq.png"></a></div>
    <div class="col-4"><a href="/pictures/10"><img src="http://i.imgur.com/FiP6H6p.png"></a></div>
    <div class="col-4"><a href="/pictures/10"><img src="http://i.imgur.com/XvU5GO3.png"></a></div>
  </div>
  <div class="row">
      <div class="col-2"></div>
    <div class="col-4 ratings-text"><a href="/pictures/7">mongering</a></div>
    <div class="col-4 ratings-text"><a href="/pictures/8">hyperbolic</a></div>
    <div class="col-4 ratings-text"><a href="/pictures/9">dishonest</a></div>
    <div class="col-4 ratings-text"><a href="/pictures/10">divisive</a></div>
    <div class="col-4 ratings-text"><a href="/pictures/10">out of touch</a></div>
  </div>
  <div class="ratings-borat">
    <div class="ratings-text"><a href="/pictures/13"><img src="http://i.imgur.com/vEwNrHr.png"></a></div>
    <div class="ratings-text"><a href="/pictures/13">well said!</a></div>
  </div>
