$baseFont: "Quicksand";
$selectFont: "Special Elite";

.we-are{
  margin-top: 7%;
  font-family: $selectFont;
  font-size: 4.5vw;
  text-align: center;
  padding: 4% 2% 3% 5%;
  margin: 3% 10% 0 10%;
  font-weight: bolder;
}

.war{
  font-family: $selectFont;
  font-size: 5vw;
}

.about-text{
  font-family: $baseFont;
  font-size: 2vw;
  text-align: justify;
  margin: 0 10%;
  background: rgba(255,255,255,.8);
  padding: 2% 5%;
  box-shadow: 0px 0px 20px rgba(0,0,0,.5);
}

.bold{
  font-family: $selectFont;
  font-weight: bolder;
  color: rgb(153,0,18);
}

.boldfire{
  font-family: $selectFont;
  font-weight: bolder;
}

.disclaimer{
  font-style: italic;
  font-size: 1.5vw;
}

.email a{
  color: #00688B;
  font-family: $selectFont;
  text-decoration: none;
}
