$baseFont: "Quicksand";
$selectFont: "Special Elite";
$notes: #CD3700;
$links: #7171C6;

.we-are{
  margin-top: 7%;
  font-family: $selectFont;
  font-size: 4.5vw;
  text-align: center;
  padding: 4% 2% 3% 5%;
  margin: 3% 10% 0 10%;
}

.war{
  font-family: $selectFont;
  font-size: 5vw;
}

.about-text{
  background-color: #F2F2F2;
  border-left: 10px solid black;
  border-right: 10px solid black;
  font-family: $baseFont;
  font-size: 1rem;
  text-align: justify;
  margin: 0 10%;
  padding: 2% 5%;
  margin-bottom: 10%;
}

.bold{
  font-family: $selectFont;
  color: rgb(153,0,18);
}

.boldfire{
  font-family: $selectFont;
}

.disclaimer{
  font-style: italic;
  font-size: .8rem;
}

.email a{
  color: #00688B;
  font-family: $selectFont;
  text-decoration: none;
}


.about-heads img{
  display: inline-block;
  display: -moz-inline-box;
  width: 100%;
}

.borat img{
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about-heads-text{
  font-family: $selectFont;
  display: inline-block;
  display: -moz-inline-box;
  width: 24%;
  font-size: 2vw;
  text-decoration: none;
  color: black;
  text-align: center;
}

.ratings-text a{
  text-decoration: none;
  color: black;
}

.ratings-text{
  margin-top: 3%;
  text-align: center;
  font-family: $selectFont;
  font-size: 2vw;
}

.ratings{
  margin-top: 10%;
}

.ratings-borat img{
  margin-top: 1.5%;
  width: 28%;
}

.astext{
  background:none;
  border:none;
  margin:0;
  padding:0;
}
// 
// @media (max-width: 700px){
//
// }
//
// @media (min-width: 700px) and (max-width: 1000px){
//
// }
//
// @media (min-width: 1000px){
//
// }
