/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .jiggle img{
     -webkit-animation: jiggle 1s infinite;
     -moz-animation-duration: 1s;
     -moz-animation-name: jiggle;
     -moz-animation-iteration-count: infinite;
     -webkit-transform: rotate(-2deg);
     -moz-transform: rotate(-2deg);
     z-index: -1;
     position: relative;
 }

 .tag-picture img{
     -webkit-animation: jiggle 1s infinite;
     -moz-animation-duration: 1s;
     -moz-animation-name: jiggle;
     -moz-animation-iteration-count: infinite;
     -webkit-transform: rotate(-2deg);
     -moz-transform: rotate(-2deg);
     position: relative;
 }


 @-moz-keyframes jiggle {
     0% {
         -moz-transform: rotate(-1deg);
     }
     50% {
         -moz-transform: rotate(1deg);
     }
 }

 @-webkit-keyframes jiggle {
     0% {
         -webkit-transform: rotate(-1deg);
         }
     50% {
         -webkit-transform: rotate(1deg);
     }
 }
