$baseFont: "Quicksand";
$selectFont: "Special Elite";
$notes: #CD3700;
$links: #7171C6;

.policy{
    position: relative;
    float:right;
    margin-right: -5%;
    font-size: 2vw;
    color: $notes
}

.article{
  background-color: #F7F7F7;
  padding: .5% 2% 3% 2%;
  font-family: $baseFont;
  margin: 4% 7% 12% 7%;
  border-left: 5px solid black;
  cursor: pointer;
}

.instructions{
  margin: 1% 10% 0 20%;
  text-align: right;
  font-family: "Quicksand";
  font-size: 1.5vw;
  padding: .5% 0 1% 2%;
}

.instructions span{
  font-family: $selectFont;
  font-weight: bold;
}


.article-image img{
  border-left: 5px solid black;
  font-family: $baseFont;
  margin: 0 4% 5% 7%;
  padding: 0 0 0 3%;
  cursor: pointer;
  width: 82%;
}

.section{
  font-family: $selectFont;
  color: $notes;
  font-size: 1.5vw;
}

.title{
  font-size: 3.2vw;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 1%;
}

.body{
 font-size: 1.4vw;
 line-height: 150%;
 font-family: "Source Sans Pro";
 padding: 0 .5vw;
}

.takeaway{
  font-size: 1.5vw;
  line-height: 160%;
}

// .action{
//   font-size: .9rem;
// }
//
// .sources{
//   font-size: .7rem;
// }

.expand{
  display: none;
  font-family: $selectFont;
}

.time{
  color: $notes;
  font-family: $baseFont;
  font-size: 1.8vw;
}

.time-right{
  color: $notes;
  text-align: right;
  font-size: 1.8vw;
  font-family: $baseFont;
}

.tag-picture img{
  float: right;
  width: 8vw;

}

.picture-page img{
  width: 15vw;
  margin-top: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tag a{
  color: black;
  font-family: $selectFont;
  text-decoration: none;
}


.admin a{
  color: black;
  float: right;
  font-family: $baseFont;
}

.home-links a{
  color: black;
  text-decoration: none;
}


.heads img{
  width: 25%;
  padding: 2.5%;
}

.padding{
  padding-top: 10px;
}

.quote{
  font-family: $baseFont;
  font-size: 1.5vw;
  color: rgb(104,104,104);
}

.dice{
z-index: -1;
position: relative;
width: 50%;
margin: 25%;
}

.blog-links a{
  background: white;
  padding: 0 .2vw;
  text-decoration: none;
  color: $links;
  box-shadow: 1px 1px 1px gray;
}

.blog-links-blue{
  color: $links;
}

.search-container{
  display: inline-block;
  float: right;
}

.search-button{
  background-color: $links;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3vw;
  font-family: $baseFont;
  margin-top: 4%;
  float: right;
  margin-right: 8%;
  margin-left: 3%;
  padding: 1.8%;
  box-shadow: 2px 2px 1px #888888;
}

.search{
  padding: 2%;
  border-right: solid 5px black;
  border-top: solid 0px white;
  border-left: solid 0px white;
  border-bottom: solid 0px white;
  transition: border 0.3s;
  background-color: #F2F2F2;
  font-family: $baseFont;
  font-size: 1.3vw;
  margin-top: 4%;
  float: right;
}
.search:focus,
.search.focus {
  border: solid 4px black;
}


// @media (max-width: 700px){
//   .tag-picture img{
//     float: right;
//     width: 8vw;
//   }
//   .article {
//     margin-bottom: 18%;
//     margin-left: 0;
//     margin-right: 0;
//   }
// }
//
// @media (min-width: 1000px){
//
// }
//
// @media handheld {
//   .body{
//     font-size: 1rem;
//   }
// }
