.article{
  background: rgba(255,255,255,.8);
  padding: .5% 2% 1% 2%;
  font-family: "Quicksand";
  margin: 6% 7% 6% 7%;
  box-shadow: 0px 0px 20px rgba(0,0,0,.5);
}

.bodytext{
    font-family: "Quicksand";
}

.section{
  font-family: "Special Elite";
  color: black;
}

.title{
  font-size: 3vw;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.body{
 font-size: 1.5vw;
}

.takeaway{
  font-size: 1.8vw;
}

.action{
  font-size: 1.8vw;
}

.expand{
  display: none;
}

.time{
  color: #CD3700;
}

.time-right{
  color: #CD3700;
  text-align: right;  
}
