.col-1 {width: 4.167%;}
.col-2 {width: 8.33%;}
.col-3 {width: 12.5%;}
.col-4 {width: 16.66%;}
.col-5 {width: 20.83%;}
.col-6 {width: 25%;}
.col-7 {width: 29.167%;}
.col-8 {width: 33.33%;}
.col-9 {width: 37.5%;}
.col-10 {width: 41.66%;}
.col-11 {width: 45.83%;}
.col-12 {width: 50%;}
.col-13 {width: 54.167%;}
.col-14 {width: 58.33%;}
.col-15 {width: 62.5%;}
.col-16 {width: 66.66%;}
.col-17 {width: 70.83%;}
.col-18 {width: 75%;}
.col-19 {width: 79.167%;}
.col-20 {width: 83.33%;}
.col-21 {width: 87.5%;}
.col-22 {width: 91.66%;}
.col-23 {width: 95.83%;}
.col-24 {width: 100%;}


[class*="col-"] {
    float: left;
    padding: 0px;
    border: 1px solid rgba(255,255,255,0);
}

.row:after {
    content: "";
    clear: both;
    display: block;
}
