$baseFont: "Quicksand";
$selectFont: "Special Elite";

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: black;
  color: white;
  font-family: $selectFont;
  padding: 20px;
  opacity: .8;
}

.navbar a{
  color: white;
  text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    border-radius: 5%;
    font-family: $baseFont
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: #00688B;
  border-radius: 5%;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

@media (max-width: 700px){
  .navbar-left a{
    display: none;
  }
  .navbar-topics{
    display:none;
  }
  .navbar-about{
    display: none;
  }
  .dbaf{
    display:none;
  }
}

@media (min-width: 1000px){

}

@media handheld {
  .dropdown-content a:active {
    background-color: #00688B;
    border-radius: 5%;
  }

  .dropdown:active .dropdown-content {
      display: block;
  }

  .dropdown:active .dropbtn {
      background-color: #3e8e41;
  }
}
