$baseFont: "Quicksand";
$selectFont: "Special Elite";

.rating-name{
  font-family: $selectFont;
  margin-top: 5vw;
  font-size: 3vw;
  text-align: right;
}

.rating-description{
  font-family: $baseFont;
  font-size: 2vw;
  text-align: left;
  margin-top: 5vw;
}
