$baseFont: "Quicksand";
$selectFont: "Special Elite";
$notes: #CD3700;
$links: #7171C6;

.rating-name{
  font-family: $selectFont;
  margin-top: 5vw;
  font-size: 3vw;
  text-align: right;
}

.rating-description{
  font-family: $baseFont;
  font-size: 2vw;
  text-align: left;
  margin-top: 5vw;
  margin-right: 17%;
}

.videos{
  margin-left: auto;
}
