// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$baseFont: "Quicksand";
$selectFont: "Special Elite";
$blue: #7171C6;

.story-time{
  color: #CD3700;
  text-align: right;
}

.story-headline{
  font-size: 1.8rem;
  text-transform: uppercase;
}

.story-source a{
  font-style: italic;
  background: #7171C6;
  text-decoration: none;
  color: white;
  box-shadow: 2px 2px 1px #888888;
}

.from{
  color: rgb(49,79,79);
}

.article-story{
  background: #F7F7F7;
  padding: .5% 2% 1% 2%;
  font-family: $baseFont;
  margin: 2% 7% 10% 7%;
  cursor: pointer;
  border-left: 5px solid black;
}
