// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$baseFont: "Quicksand";
$selectFont: "Special Elite";

.story-time{
  color: #CD3700;
  text-align: right;
}

.story-headline a{
  color: #00688B;
  font-size: 3vw;
  text-decoration: none;
  text-transform: uppercase;
}
