$baseFont: "Quicksand";
$selectFont: "Special Elite";
$notes: #CD3700;
$links: #7171C6;

body {
  background-color: white;
  padding-top: 70px;
}

.name {
  text-align: right;
  color: black;
  text-transform: uppercase;
  font-family: "Quicksand";
  font-size: 6vw;
  letter-spacing: .075em;
  line-spacing: 20%;
  margin: 0 10% 0 7%;
  max-width: 85%;
}

.carrot {
  font-family:$selectFont;
  text-transform: lowercase;
  color: black;
  vertical-align: super;
  font-size: smaller;
}

// .not {
//   margin-left: 21vw;
//   margin-right: 4%;
//   font-size: 4.8vw;
//   font-family: $selectFont;
//   color: black;
//   text-shadow: none;
//   line-height: 30%;
//   padding: 4vw 0 0 0;
// }

.heads img{
  text-align: center;
  width: 100%;
  padding-top: 10%;
  max-width: 215px;
  min-width: 105px;
  display: block;
}

.heads-text a{
  font-family: $selectFont;
  text-decoration: none;
  color: black;
  text-align: center;
  display: block;
}

.heads-left{
  padding-left: 2%;
}


.subtext{
  margin: 1% 10% 0 23%;
  text-align: right;
  font-family: "Source Sans Pro";
  font-size: 1.5vw;
  padding: .5% 2% 1% 2%;
  border-right: 5px solid black;
  line-height: 150%;
}

.subtext span{
  font-style: italic;
}

.subtext-special span{
  font-family: $selectFont;
}

.contact{
  font-size: 1vw;
  font-family: "Quicksand";
}
.contact a{
  font-weight: bold;
  text-decoration: none;
  color: $notes;
}

.a-blog{
  font-size: 2.4vw;
}

.copyright{
  margin-top: 8%;
  text-align: center;
  font-family: $baseFont;
  left:0px;
  bottom:0px;
  height:30px;
  font-size: 1vw;
}

.admin{
  color: rgba(white,.1);
  float: right;
  font-family: $baseFont;
}

.error{
  color: red;
  font-size: 5vw;
  font-family: $baseFont;
}

.click{
  float: right;
  font-size: 2vw;
  text-decoration: none;
  color: $links;
  font-family: $selectFont;
}

.tags{
  font-family: $selectFont;
  font-size: 4vw;
  float: left;
  margin: 4% 0 5% 14%;
}

.video-tags{
  text-align: center;
  font-family: $selectFont;
  font-size: 4vw;
  margin: 5% 7%;
}

.blog-none{
  display: none;
}

.tag{
  color: black;
  font-family: $selectFont;
  text-decoration: none;
  background-color: white;
  padding: .5%;
  box-shadow: 2px 2px 1px #888888;
}

.all-tags{
  text-align: left;
  font-size: 1.5vw;
}

.breakdown{
  font-size: 1vw;
}

.more-news a{
  font-style: italic;
  text-align: center;
  background: $notes;
  color: white;
  box-shadow: 2px 2px 1px #888888;
  margin-left: 50%;
  width: 20%;
  font-size: 2.5vw;
  font-family: "Quicksand";
  padding: 1%;
  text-decoration: none;
}

.more-opinion a{
  font-style: italic;
  text-align: center;
  background: $notes;
  color: white;
  box-shadow: 2px 2px 1px #888888;
  margin-left: 50%;
  width: 20%;
  font-size: 2.5vw;
  font-family: "Quicksand";
  padding: 1%;
  text-decoration: none;
}

.head-stack{
  margin: 5%;
}

.featured{
  text-align: left;
  font-family: $selectFont;
  font-size: 4vw;
  margin: 3% 7%;
}

.head-stack img{
  width: 100%;
  margin-bottom: 20%;
}

.head-stack span{
    color: white;
    background-color: black;
    font-size: 1vw;
    letter-spacing: 1px;
    padding: .6%;
    position: absolute;
    text-align: center;
    font-family: $selectFont;
    display:none;
    float: right;
}

.head-stack a{
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.icon-hover-flipped a{
  color: black;
}

.icon-hover-flipped:hover span{
  color: black;
  background: white;
  display:block;
  box-shadow: 1px 1px 1px #F2F2F2;
  margin-top: 2vw;
}

.icon-hover:hover span{
  box-shadow: 1px 1px 1px #474747;
  display:block;
  margin-top: 2vw;
}
//
// @media (max-width: 700px){
//   body{
//     padding-left: 0px;
//     padding-right: 0px;
//   }
//   .heads-text{
//     font-size: 20px;
//   }
//   .tags{
//     font-size: 2.5rem;
//   }
// }
//
// @media (min-width: 700px) and (max-width: 1000px){
//   .heads-text{
//     font-size: 3vw;
//   }
// }
//
// @media (min-width: 1000px){
//   html{
//     max-width: 80%
//   }
// }
