$baseFont: "Open Sans";
$selectFont: "Special Elite";

body {
  // background: url(http://i.imgur.com/lDznMxt.png) no-repeat center center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  background-color: white;
  padding-top: 70px;
}

.name {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-family: "Quicksand";
  font-size: 6vw;
  letter-spacing: .075em;
  text-shadow: -2px 0px 2px #FFFFFF, -3px 0px 30px #0052A5, -2.5px 0px 70px #E0162B, -4px 1px 2px #FFFFFF, -6px 1px 30px #0052A5, -5px 1px 70px #E0162B, -6px 2px 2px #FFFFFF, -9px 2px 30px #0052A5, -7.5px 2px 70px #E0162B, -8px 3px 2px #FFFFFF, -12px 3px 30px #0052A5, -10px 3px 70px #E0162B, -10px 4px 2px #FFFFFF, -15px 4px 30px #0052A5, -12.5px 4px 70px #E0162B, -12px 5px 2px #FFFFFF, -18px 5px 30px #0052A5, -15px 5px 70px #E0162B, -14px 6px 2px #FFFFFF, -21px 6px 30px #0052A5, -17.5px 6px 70px #E0162B, -16px 7px 2px #FFFFFF, -24px 7px 30px #0052A5, -20px 7px 70px #E0162B, -18px 8px 2px #FFFFFF, -27px 8px 30px #0052A5, -22.5px 8px 70px #E0162B, -20px 9px 2px #FFFFFF, -30px 9px 30px #0052A5, -25px 9px 70px #E0162B, -22px 10px 2px #FFFFFF, -33px 10px 30px #0052A5, -27.5px 10px 70px #E0162B;
  line-spacing: 20%;
  text-align: center;
  margin-right: auto;
}

.carrot {
  font-family:$selectFont;
  text-transform: lowercase;
  color: black;
  text-shadow: none;
}

.not {
  text-align: center;
  margin-right: 4%;
  font-size: 4.8vw;
  font-family: $selectFont;
  color: black;
  text-shadow: none;
  line-height: 30%;
  padding: 4vw 0 0 0;
}

.heads img{
  text-align: center;
  width: 100%;
  padding-top: 10%;
  max-width: 215px;
  min-width: 105px;
  display: block;
}

.heads-text a{
  font-family: $selectFont;
  text-decoration: none;
  color: black;
  text-align: center;
  display: block;
}

.heads-left{
  padding-left: 2%;
}

.subtext{
  text-align: center;
  font-family: $baseFont;
  font-size: 2vw;
}

.a-blog{
  font-size: 2.4vw;
}


.admin{
  color: rgba(white,.1);
  float: right;
  font-family: $baseFont;
}

.error{
  color: red;
  font-size: 5vw;
  font-family: $baseFont;
}

.click{
  float: right;
  font-size: 1.2rem;
  text-decoration: none;
	text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  color: #7171C6;
}

.tags{
  text-align: center;
  font-family: $selectFont;
  font-size: 5vw;
  padding-top: 2vw;
}

.tag{
  color: #00688B;
  font-family: $selectFont;
  text-decoration: none;
  background-color: rgba(0,104,139,.2);
  padding: .5%;
}

.all-tags{
  text-align: left;
}

.breakdown{
  font-size: 1vw;
}

@media (max-width: 700px){
  body{
    padding-left: 0px;
    padding-right: 0px;
  }
  .heads-text{
    font-size: 20px;
  }
  .tags{
    font-size: 2.5rem;
  }
}

@media (min-width: 700px) and (max-width: 1000px){
  .heads-text{
    font-size: 3vw;
  }
}

@media (min-width: 1000px){
  .name{
    font-size: 60px;
  }
  .subtext{
    font-size: 15px;
  }
  .heads-text{
    font-size: 30px;
  }
}
