body {
  background: url(http://i.imgur.com/lDznMxt.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 70px;
}

.name {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-family: "quicksand";
  font-weight: bold;
  font-size: 6vw;
  letter-spacing: .075em;
  text-shadow: -2px 0px 2px #FFFFFF, -3px 0px 30px #0052A5, -2.5px 0px 70px #E0162B, -4px 1px 2px #FFFFFF, -6px 1px 30px #0052A5, -5px 1px 70px #E0162B, -6px 2px 2px #FFFFFF, -9px 2px 30px #0052A5, -7.5px 2px 70px #E0162B, -8px 3px 2px #FFFFFF, -12px 3px 30px #0052A5, -10px 3px 70px #E0162B, -10px 4px 2px #FFFFFF, -15px 4px 30px #0052A5, -12.5px 4px 70px #E0162B, -12px 5px 2px #FFFFFF, -18px 5px 30px #0052A5, -15px 5px 70px #E0162B, -14px 6px 2px #FFFFFF, -21px 6px 30px #0052A5, -17.5px 6px 70px #E0162B, -16px 7px 2px #FFFFFF, -24px 7px 30px #0052A5, -20px 7px 70px #E0162B, -18px 8px 2px #FFFFFF, -27px 8px 30px #0052A5, -22.5px 8px 70px #E0162B, -20px 9px 2px #FFFFFF, -30px 9px 30px #0052A5, -25px 9px 70px #E0162B, -22px 10px 2px #FFFFFF, -33px 10px 30px #0052A5, -27.5px 10px 70px #E0162B;
  line-spacing: 20%;
  text-align: center;
  margin-right: auto;
}

.carrot {
  font-family: "Special Elite";
  text-transform: lowercase;
  color: black;
  text-shadow: none;
}

.not {
  text-align: center;
  margin-right: 4%;
  font-size: 4.8vw;
  font-family: "Special Elite";
  color: black;
  text-shadow: none;
  line-height: 30%;
  font-weight:bold;
  padding: 4vw 0 0 0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: black;
  color: white;
  font-family: "Special Elite";
  padding: 20px;
  opacity: .8;
}

.navbar a{
  color: white;
  text-decoration: none;
}

.navbar-right a{
  float: right;
  width: 90px;
}

.navbar-left a{
  float: left;
}

.home-links a{
  color: black;
  text-decoration: none;
}


.heads img{
  width: 25%;
  padding: 2.5%;
}

.heads{
  margin: 0 5% 0 5%;
  font-family: "Special Elite";
}

.home-links{
  text-align: center;
  font-weight: bold;
  font-size: 3vw;
  margin: 8vw;
}

.subtext{
  text-align: center;
  font-weight: bold;
  font-family: "quicksand";
  background: rgba(255,255,255,.5);
  width: 40%;
  margin: 0 30% 0 30%;
}

.a-blog{
  font-size: 1.5rem;
}

.admin a{
  color: rgba(white,.1);
  float: right;
  font-family: "quicksand";
}

.admin{
  color: rgba(white,.1);
  float: right;
  font-family: "quicksand";
}

.error{
  color: red;
  font-size: 5vw;
  font-family: "quicksand";
  font-weight: bold;
}

.click{
  float: right;
  color: #00688B;
}

.tags{
  text-align: center;
  font-family: "Special Elite";
  font-size: 5vw;
  padding-top: 2vw;
}

.tag a{
  color: #00688B;
  font-family: "Special Elite";
  text-decoration: none;
  font-weight:bold;
}

.tag{
  color: #00688B;
  font-family: "Special Elite";
  text-decoration: none;
  font-weight:bold;
  background-color: rgba(0,104,139,.2);
  padding: .5%;
}

.all-tags{
  text-align: left;
}
